doctype html
html(lang="KO")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title PARK's BLOG
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    link(rel="stylesheet", href="../css/blog.css")
  body


    section#wrapper
      article.cont#cont_2
        ul#slider
          li
            div ABOUT ME  
              span.redSpan
          li
            div TIME LINE  
              span.redSpan
          li
            div SKILL  
              span.redSpan
          li
            div PROJECT  
              span.redSpan
          li
            div ABOUT ME  
              span.redSpan
    
    script(type="text/javascript", src="../../src/js/blog.js")