doctype html
html(lang="KO")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title PARK's BLOG
    link(rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png")
    link(rel="manifest" href="../img/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&display=swap" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js") 
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="../css/blog.css")
  body

    header
      section.gnb_area
        section.gnb_main
        section.gnb_text
          p HOME
          p ABOUT ME 
          p TIME LINE 
          p SKILL 
          p PROJECT 
          i.xi-close

    main
      section.background_page
        section.background_area_1
          p.background_text PARK's BLOG
        section.background_area_2 
          div 
          div
      section.home_page
        section.card_list
          article.card_1.card_item
            article.inner_box_1
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_2.card_item
            article.inner_box_2
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_3.card_item
            article.inner_box_3
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_4.card_item
            article.inner_box_4
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_5.card_item
            article.inner_box_1
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_6.card_item
            article.inner_box_2
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_7.card_item
            article.inner_box_3
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_8.card_item
            article.inner_box_4
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
      section.about_page
        section.left_about 
          article
            div
        section.right_about
          p 안녕하세요!
          p 다양한 개발 언어와 친해지고자
          p 항상 노력하는 박경호입니다.
        section.sub_about
          article
            i.xi-mail
            p rudgh9407@gmail.com
          article 
            i.xi-call
            p 010-3326-9750
      section.time_page
        article.time_bar 
          p 학력
          p 경력
          p 자격증
        article.right_time 
          article.edu_text
            p 2010.03 - 2013.02
              span 동아마이스터고등학교 LED조명과 졸업
            p 2017.03 - 2019.02
              span 경기과학기술대학교 LED제어설계과 졸업
            p 2022.06 - 2022.12
              span 라인컴퓨터아트학원 JAVA기반 웹&앱 개발
          article.exp_text 
            p 2013.01 - 2021.10 (8년 10개월)
            p 서울바이오시스 FAB기술/대리
          article.lic_text
            p GTQ 1급
            p 전자기기기능사
            p 웹디자인 기능사 (예정)
      section.skill_page
        section.left_skill 
          section.shelf_1 
            article.icon_1
            article.icon_2 
            article.icon_3
          section.shelf_2 
            article.icon_4
            article.icon_5
            article.icon_6
          section.shelf_3 
            article.icon_7
            article.icon_8
            article.icon_9
          section.shelf_4
            article.icon_10
            article.icon_11
            article.icon_12
        section.right_skill
          article.skill_back
          section.skill_detail 
      section.project_page
        seciton.main_project 
          section.project_list_1
            article
              div.item_back_1
              div.project_item_1
                p MATRIX
                p CALCULATOR
            article
              div.item_back_2
              div.project_item_2
                p TETRIS
            article
              div.item_back_3
              div.project_item_3
                p CLOUD
                p SERVER
            article
              div.item_back_4
              div.project_item_4
                p TOWER
                p OF HANOI
          section.project_list_2
            article
              div.item_back_5
              div.project_item_5
                p WORKING...
            article
              div.item_back_6
              div.project_item_6
                p WORKING...
            article
              div.item_back_7
              div.project_item_7
                p WORKING...
            article
              div.item_back_8
              div.project_item_8
                p WORKING...
        section.detail_project
          section.project_popup 
            article.popup_over
            section.left_pop 
              article 
                button.go_site SITE
                button.go_pdf PDF
            section.right_pop
              section.rt_pop 
              div
              p 사용 언어
              section.rb_pop 
              i.xi-close-circle

      section.loading_page
        article.loading_box



    script(type="text/javascript", src="../../src/js/blog.js")