doctype html
html(lang="KO")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title PARK's BLOG
    link(rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png")
    link(rel="manifest" href="../img/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&display=swap" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js") 
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="../css/blog.css")
  body

    header
      section.gnb_area
        section.gnb_main
        section.gnb_text
          p HOME
          p ABOUT ME 
          p TIME LINE 
          p SKILL 
          p PROJECT 
          i.xi-close

    main
      section.background_page
        section.background_area_1
          p.background_text PARK's BLOG
        section.background_area_2 
          div 
          div
      section.home_page
        section.card_list
          article.card_1.card_item
            article.inner_box_1
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_2.card_item
            article.inner_box_2
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_3.card_item
            article.inner_box_3
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_4.card_item
            article.inner_box_4
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_5.card_item
            article.inner_box_1
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_6.card_item
            article.inner_box_2
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_7.card_item
            article.inner_box_3
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
          article.card_8.card_item
            article.inner_box_4
              section.inner_img
                article.img_item_1
                article.img_item
                article.img_item
                article.img_item
              article.img_over
              article
                p.p_title 
            div
      section.about_page
        section.left_about 
          article
            div
            div 
            div 
            div
            div
        section.right_about
          section.rt_about 
            p 안녕하세요!
            p 지식의 유일한 원천은 경험이라 생각하며
            p 다양한 언어, 프로젝트에 대한 도전을
            p 
              |두려워하지 않고 다가가는 
              span 박경호
              |입니다.
          div
          section.rb_about 
            p 1994.07.09
            p 경기도 안산시 단원구
        section.sub_about
          article
            i.xi-mail
            p rudgh9407@gmail.com
          article 
            i.xi-kakaotalk
            p rudgh9407@naver.com
          article 
            i.xi-call
            p 010-3326-9750
      section.time_page
        section.time_left
          article
          article
            div
        section.time_right 
          section.time_bar_area 
            div.center_line
            article.line_dot
              div
              div 
              div 
              div
            article.time_box_1
              article 
                i.xi-school 
              article
                p 2010.03 - 2013.02
                div 
                p 동아마이스터고등학교 / LED조명과 졸업
            article.time_box_2
              article
                p 2017.03 - 2019.02
                div 
                p 경기과학기술대학교 / LED제어설계과 졸업
              article 
                i.xi-school 
            article.time_box_3
              article 
                i.xi-business
              article
                p 2013.01 - 2021.10
                div 
                p 서울바이오시스 / FAB기술 / 대리
            article.time_box_4
              article
                p 2022.06 - 2022.12
                div 
                p 라인컴퓨터아트학원 / JAVA기반 웹&앱 개발
              article 
                i.xi-school 
          section.license_area
            article 
              p LICENSE 
            ul
              li GTQ 1급
              li 전자기기기능사
              li 웹디자인 기능사 / 예정
      section.skill_page
        section.front_skill
          p Front-end
          section.shelf 
            div 
              article
                article.icon_1
              article
                article.icon_2 
            div 
              article
                article.icon_3
              article
                article.icon_4
            div 
              article
                article.icon_5
              article
                article.icon_6
            div 
              article
                article.icon_7
              article
                article.icon_8
            div 
              article
                div.none_icon
        section.back_skill 
          p Back-end
          section.shelf 
            div 
              article
                article.icon_1
              article
                article.icon_2 
            div 
              article
                article.icon_3
              article
                article.icon_4
            div 
              article
                article.icon_5
              article
                article.icon_6
            div 
              article
                div.none_icon
              article
                div.none_icon
            div 
              article
                div.none_icon
        section.etc_skill 
          p Etc.
          section.shelf
            div 
              article
                article.icon_1
              article
                article.icon_2 
            div 
              article
                article.icon_3
              article
                article.icon_4
            div 
              article
                article.icon_5
              article
                article.icon_6
            div 
              article
                article.icon_7
              article
                article.icon_8
            div 
              article
                article.icon_9
              article
                article.icon_10
            div 
              article
                article.icon_11
              article
                div.none_icon
            div 
              article
                div.none_icon
              article
                div.none_icon
        section.view_skill
          article.skill_back
          section.skill_detail 
      section.project_page
        seciton.main_project 
          section.project_list_1
            article
              div.item_back_1
              div.project_item_1
                p 행렬 계산기
            article
              div.item_back_2
              div.project_item_2
                p 테트리스 게임
            article
              div.item_back_3
              div.project_item_3
                p 하노이 타워
            article
              div.item_back_4
              div.project_item_4
                p 잔돈 계산기
            article
              div.item_back_5
              div.project_item_5
                p 메모장
            article
              div.item_back_6
              div.project_item_6
                p 부루마블
            article
              div.item_back_7
              div.project_item_7
                p 키오스크
                p Node.JS
            article
              div.item_back_8
              div.project_item_8
                p 키오스크
                p JAVA
            article
              div.item_back_9
              div.project_item_9
                p 한화이글스
                p 팬페이지
            article
              div.item_back_10
              div.project_item_10
                p 로또1번가
                p Android APP
        section 
          p scroll
          i.xi-angle-down
        section.detail_project
          section.project_popup 
            article.popup_over
            section.left_pop 
              article 
                button.go_site SITE
                button.go_pdf PDF
              div.possible_box
                div
                div
                div
            section.right_pop
              section.rt_pop 
              div
              p 사용 언어 & 프로그램
              section.rb_pop 
              i.xi-close-circle

      section.loading_page
        article.loading_box



    script(type="text/javascript", src="../../src/js/blog.js")