doctype html
html(lang="KO")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title PARK's BLOG
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js") 
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="../css/blog.css")
  body

    header
      section.gnb_area
        section.gnb_main
        section.gnb_text
          p HOME
          p ABOUT ME 
          p TIME LINE 
          p SKILL 
          p PROJECT 
          i.xi-close


    main
      section.background_page
        section.background_area_1
          p.background_text PARK's BLOG
        section.background_area_2 
          div 
          div
      section.home_page
        section.card_list
          article.card_1.card_item
            article.inner_box_1
              section.inner_img_1
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_2.card_item
            article.inner_box_2
              section.inner_img_2
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_3.card_item
            article.inner_box_3
              section.inner_img_3
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_4.card_item
            article.inner_box_4
              section.inner_img_4
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_5.card_item
            article.inner_box_1
              section.inner_img_1
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_6.card_item
            article.inner_box_2
              section.inner_img_2
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_7.card_item
            article.inner_box_3
              section.inner_img_3
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
          article.card_8.card_item
            article.inner_box_4
              section.inner_img_4
                article.img_item_1
                article.img_item_2
                article.img_item_3
                article.img_item_4
                article.img_item_5
                article.img_item_6
                article.img_item_7
                article.img_item_8
                article.img_item_9
                article.img_item_10
              article
                p.p_number 
            div
      section.about_page
        p about page 
      section.time_page
        p time page 
      section.skill_page
        p skill page 
      section.project_page
        p project page
      section.loading_page
        article.loading_box



    script(type="text/javascript", src="../../src/js/blog.js")