@charset "UTF-8";
* { 
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  // font-family: 'Kanit', sans-serif;
  // family: 'Jua', sans-serif;
  font-family: 'Montserrat', sans-serif;
}


@keyframes rotate_img {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
@keyframes un_rotate_img {
  0% { transform: rotate(360deg) }
  100% { transform: rotate(0deg) }
}

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  body {
    width: 100%;
    height: 100%;
    header {
      width: 100%;
      height: 100%;
      position: fixed;
      pointer-events: none;
      z-index: 5000;
      .gnb_area {
        width: 100%;
        height: 100%;
        position: relative;
        .gnb_main {
          position: absolute;
          top: 3vh;
          right: 3vh;
          width: 5vh;
          height: 5vh;
          border-radius: 50%;
          background-color: #F65;
          pointer-events: none;
          opacity: 0;
          cursor: pointer;
        }
        .gnb_text {
          position: absolute;
          top: -10vh;
          right: -20vh;
          width: 20vh;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          display: none;
          p {
            color: white;
            font: { size: 3vh; weight: 600; }
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            &:hover {
              transform: translateX(-1vh);
              -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              transition: all 0.2s;
            }
          }
          i {
            flex: none;
            position: absolute;
            top: -5vh;
            right: 3vh;
            color: white;
            font: { size: 3vh; font-weight: 900; }
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            &:hover {
              -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              transition: all 0.2s;
            }
          }
        }
      }
    }   // --------------------- header
    main {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: fixed;
      z-index: 1000;
      pointer-events: all;
      .background_page {
        width: 100%;
        height: 100%;
        position: fixed;
        pointer-events: none;
        .background_area_1 {
          width: 80%;
          height: 100%;
          right: 0;
          position: absolute;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: flex-start;
          &>p {
            color: #000;
            font: { size: 10vw; weight: 600; }
          }
        }   // ----------------------- background_area_1
        .background_area_2 {
          width: 100%;
          height: 100%;
          div{
            width: 100%;
            height: 0.1vw;
            background-color: #444;
            position: absolute;
            left: 0;
            &:nth-child(1){
              top: 90vh;
            }
            &:nth-child(2){
              top: 95vh;
            }
          }
        }
      }   // ----------------------- background_page
      .home_page {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: none;
        .card_list {
          width: 100%;
          height: 50vh;
          position: absolute;
          top: 30vh;
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
          .card_item {
            position: absolute;
            width: 24vw;
            height: 28.5vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            &>article:first-child {
              width: 95%;
              height: 100%;
              background-color: #FFF;
              border: 0.15vw solid #333;
              pointer-events: all;
              position: relative;
              cursor: pointer;
              overflow: hidden;
              &>section {
                width: 100%;
                height: 100%;
                pointer-events: none;
                position: absolute;
                &>article {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                }
              }
              .img_over {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #FFF;
                z-index: 100;
                opacity: 1;
                pointer-events: none;
              }
              &>article:last-child {
                width: 95%;
                height: 95%;
                position: absolute;
                z-index: 1000;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                pointer-events: none;
                &>p {
                  font: { size: 3vw; weight: 700; }
                }
              }
            }
            .inner_box_1 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_2 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo2.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_3 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo3.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_4 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo4.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            &>div:last-child {
              width: 0.1vw;
              height: 100%;
              background-color: #AAA;
            }
          }
          .card_1, .card_5 {
            top: -5vh;
            &>div:last-child {
              height: 100vh;
            }
          }
          .card_2, .card_6 {
            top: 11vh;
            &>div:last-child {
              height: 100vh;
            }
          }
          .card_3, .card_7 { 
            top: 0vh;
            &>div:last-child {
              height: 65vh;
            }
          }
          .card_4, .card_8 { 
            top: 6vh;
          }
        }
      }   // --------------------------- home_page
      .about_page{
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        .left_about {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          article {
            width: 60vh;
            height: 60vh;
            overflow: hidden;
            border-radius: 90% 80% 90% 80% / 80% 90% 80% 90%;
            -webkit-animation: rotate_img 10s infinite linear;
            animation: rotate_img 10s infinite linear;
            -webkit-filter: drop-shadow(0 0 3vh rgba(0,0,0,0.3));
            filter: drop-shadow(0 0 3vh rgba(0,0,0,0.3));
            div {
              width: 60vh;
              height: 60vh;
              -webkit-animation: un_rotate_img 10s infinite linear;
              animation: un_rotate_img 10s infinite linear;
              background: {
                image: url('../img/photo.jpeg');
                repeat: no-repeat;
                size: cover;
                position: center center;
              };
            }
          }
        }
        .right_about {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          p {
            width: 40vw;
            color: #333;
            text-align: left;
            font: { 
              size: 3vw;
              weight: 600;
              family: 'Jua', sans-serif;
            }
          }
        }
        .sub_about {
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 20vh;
          bottom: 5vh;
          border-bottom: 0.1vh solid #F65;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: flex-end;
          article {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            i, p {
              display: inline-block;
              color: #333;
              font: { size: 2vw; weight: 500; };
            }
            i {
              color: #F65;
            }
            &:nth-child(2) {
              width: 20%;
            }
          }
        }
      }   // --------------------------- about_page
      .time_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        .time_bar {
          width: 10vw;
          height: 100vh;
          position: absolute;
          left: 10vw;
          top: 0;
          background-color: #F65;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          p {
            color: #FFF;
            letter-spacing: 0.3vw;
            font: {
              size: 2.5vw;
              weight: 500;
              family: 'Jua', sans-serif;
            }
          }
        }
        .right_time {
          width: 70vw;
          height: 100vh;
          position: absolute;
          left: 30vw;
          top: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: flex-start;
          article {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: flex-start;
            p {
              text-align: left;
              color: #333;
              font: {
                size: 1.5vw;
                weight: 500;
                family: 'Jua', sans-serif;
              }
              span {
                margin-left: 3vw;
                text-align: left;
                color: #333;
                font: {
                  size: 1.5vw;
                  weight: 500;
                  family: 'Jua', sans-serif;
                }
              }
            }
          }
        }
      }   // ---------------------------- time_page
      .skill_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;   
        position: relative;
        .left_skill {
          width: 40%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          &>section {
            width: 100%;
            height: 20vh;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: flex-end;
            border-bottom: 0.1vh solid #F65;
            article {
              width: 15vh;
              height: 15vh;
              pointer-events: all;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
              cursor: pointer;
            }
            .icon_1{
              background: {
                image: url('../img/html5-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_2{
              background: {
                image: url('../img/css3-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_3{
              background: {
                image: url('../img/js-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_4{
              background: {
                image: url('../img/jquery-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_5{
              background: {
                image: url('../img/pug-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_6{
              background: {
                image: url('../img/sass-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_7{
              background: {
                image: url('../img/java-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_8{
              background: {
                image: url('../img/nodejs-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_9{
              background: {
                image: url('../img/mysql-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_10{
              background: {
                image: url('../img/kotlin-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_11{
              background: {
                image: url('../img/python-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
            .icon_12{
              background: {
                image: url('../img/photoshop-icon.png');
                repeat: no-repeat;
                size: contain;
                position: center center;
              };
            }
          }
        }
        .right_skill {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 45%;
          -webkit-transform: scale(0);
          transform: scale(0);
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          .skill_back {
            opacity: 0.1;
            width: 100%;
            height: 100%;  
            position: absolute;
            z-index: -100;
            background: {
              repeat: no-repeat;
              size: contain;
              position: center center;
            };
          }
          .skill_detail {
            width: 80%;
            height: 80%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: flex-start;
            opacity: 1;
            p {
              color: #333;
              text-align: left;
              font: {
                size: 1.8vw;
                weight: 600;
                family: 'Jua', sans-serif;
              }
            }
          }
        }
      }   // ---------------------------- skill_page
      .project_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        .main_project {
          width: 80vw;
          height: 80vh;
          position: absolute;
          z-index: -1;
          top: 10vh;
          left: 10vw;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          &>section {
            width: 100%;
            height: 40%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 0.1vw solid #333;
            &>article {
              width: 16vw;
              height: 16vw;
              pointer-events: all;
              -webkit-perspective: 100vw;
              perspective: 100vw;
              position: relative;
              &>div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 1s;
                transition: all 1s;
                pointer-events: none;
                position: absolute;
                cursor: auto;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                &:nth-child(1) {
                  -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: center;
                  align-items: center;
                  z-index: -10;
                }
                &:nth-child(2){
                  -webkit-transform: rotateY(0deg);
                  transform: rotateY(0deg);
                  background-color: #F65;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  align-items: center;
                  z-index: 10;
                  p {
                    color: #FFF;
                    font: { size: 4vh; weight: 600; }
                  }
                }
              }
              .item_back_1 {
                background: {
                  image: url('../img/matrix_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_2 {
                background: {
                  image: url('../img/tetris_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_3 {
                background: {
                  image: url('../img/cloud_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_4 {
                background: {
                  image: url('../img/hanoi_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_5 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_6 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_7 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_8 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              &:hover {
                cursor: pointer;
                &>div:nth-child(1) {
                  -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: 10;
                }
                &>div:nth-child(2) {
                  -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: -10;
                }
              }
            }
          }
        }   // ------------------------------- main_project
        .detail_project {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 200;
          top: 100%;
          left: 0%;
          -webkit-transform: scale(0);
          transform: scale(0);
          pointer-events: all;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          .project_popup {
            width: 80%;
            height: 80%;
            border-radius: 1vw;
            position: relative;
            -webkit-filter: drop-shadow(1vw 1vw 2vw rgba(0,0,0,0.3));
            filter: drop-shadow(1vw 1vw 2vw rgba(0,0,0,0.3));
            .popup_over {
              border-radius: 1vw;
              width: 100%;
              height: 100%;
              position: absolute;
              background: radial-gradient(at 0% 40%, transparent 0%, #FFFFFFBB 40%, #FFFFFFEE 45%, #FFF 55%, #FFF 100%);
            }
            .left_pop {
              width: 50%;
              height: 90%;
              position: absolute;
              z-index: 500;
              top: 0;
              left: 0;
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-end;
              align-items: center;
              article {
                width: 60%;
                height: 30%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                button {
                  background: transparent;
                  color: #F65;
                  font: { size: 3vw; weight: 800; }
                  pointer-events: all;
                  -webkit-transition: all 0.3s;
                  transition: all 0.3s;
                  cursor: pointer;
                  &:hover {
                    transform: translate(-1vh, -1vh);
                    -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
                    filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
                    transition: all 0.5s;
                  }
                }
              }
            }
            .right_pop {
              width: 50%;
              height: 100%;
              position: absolute;
              z-index: 500;
              top: 0%;
              left: 50%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-around;
              align-items: center;
              .rt_pop {
                width: 80%;
                height: 40%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                p {
                  text-align: left;
                  color: #333;
                  font: {
                    size: 2vw;
                    weight: 500;
                    family: 'Jua', sans-serif;
                  }
                  &:first-child {
                    color: #F65;
                    margin-bottom: 1vw;
                    font: {
                      size: 2.5vw;
                      weight: 700;
                      family: 'Jua', sans-serif;
                    }
                    -webkit-filter: drop-shadow(0.3vh 0.3vh 0 rgba(0,0,0,0.4));
                    filter: drop-shadow(0.3vh 0.3vh 0 rgba(0,0,0,0.4));
                  }
                }
              }
              &>div {
                width: 80%;
                height: 0.1vh;
                background: #F65;
              }
              &>p {
                width: 80%;
                // height: 15%;
                color: #333;
                text-align: center;
                font: { 
                  size: 2vw;
                  weight: 700;
                  family: 'Jua', sans-serif;
                }
              }
              .rb_pop {
                width: 80%;
                height: 40%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: flex-start;
                article {
                  width: 20%;
                  height: 40%;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: space-around;
                  align-items: flex-start;
                  div {
                    width: 100%;
                    height: 50%;
                  }
                  p {
                    width: 100%;
                    text-align: center;
                    line-height: 3vw;
                    color: #333;
                    font: { size: 1vw; weight: 500; }
                  }
                }
              }
              &>i {
                position: absolute;
                top: 5vh;
                right: 5vh;
                color: #F65;
                font: { size: 3vw; weight: 500; }
                pointer-events: all;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                  transition: all 0.5s;
                  color: #FA1;
                }
              }
            }
          }
        }   // ------------------------------- detail_project
      }   // -------------------------- project_page
      .loading_page {
        width: 100%;
        height: 100%;
        background-color: #F65;
        position: relative;
        pointer-events: none;
        z-index: 99999;
        .loading_box {
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: #FFF;
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }   // --------------------------- loading_page
    }   // --------------------------- main
  }   // --------------------------- body
}   // ---------------------------- html
