@charset "UTF-8";
* { 
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  // font-family: 'Kanit', sans-serif;
  // family: 'Jua', sans-serif;
  font-family: 'Montserrat', sans-serif;
}


@keyframes rotate_img {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
@keyframes un_rotate_img {
  0% { transform: rotate(360deg) }
  100% { transform: rotate(0deg) }
}
@keyframes project_arrow {
  0% { transform: translateY(0vw) }
  50% { transform: translateY(-2vw) }
  100% { transform: translateY(0vw) }
}

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  body {
    width: 100%;
    height: 100%;
    header {
      width: 100%;
      height: 100%;
      position: fixed;
      pointer-events: none;
      z-index: 5000;
      .gnb_area {
        width: 100%;
        height: 100%;
        position: relative;
        .gnb_main {
          position: absolute;
          top: 3vh;
          right: 3vh;
          width: 5vh;
          height: 5vh;
          border-radius: 50%;
          background-color: #F65;
          pointer-events: none;
          opacity: 0;
          cursor: pointer;
        }
        .gnb_text {
          position: absolute;
          top: -10vh;
          right: -20vh;
          width: 20vh;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          display: none;
          p {
            color: white;
            font: { size: 3vh; weight: 600; }
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            &:hover {
              transform: translateX(-1vh);
              -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              transition: all 0.2s;
            }
          }
          i {
            flex: none;
            position: absolute;
            top: -5vh;
            right: 3vh;
            color: white;
            font: { size: 3vh; font-weight: 900; }
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            &:hover {
              -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
              transition: all 0.2s;
            }
          }
        }
      }
    }   // --------------------- header
    main {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: fixed;
      z-index: 1000;
      .background_page {
        width: 100%;
        height: 100%;
        position: fixed;
        pointer-events: none;
        .background_area_1 {
          width: 80%;
          height: 100%;
          right: 0;
          position: absolute;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: flex-start;
          &>p {
            color: rgba(0,0,0,0.4);
            font: { size: 10vw; weight: 600; }
          }
        }   // ----------------------- background_area_1
        .background_area_2 {
          width: 100%;
          height: 100%;
          div{
            width: 100%;
            height: 0.1vw;
            background-color: #444;
            position: absolute;
            left: 0;
            &:nth-child(1){
              top: 90vh;
            }
            &:nth-child(2){
              top: 95vh;
            }
          }
        }
      }   // ----------------------- background_page
      .home_page {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: none;
        .card_list {
          width: 100%;
          height: 50vh;
          position: absolute;
          top: 30vh;
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
          .card_item {
            position: absolute;
            width: 24vw;
            height: 28.5vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            &>article:first-child {
              width: 95%;
              height: 100%;
              background-color: #FFF;
              border: 0.15vw solid #333;
              pointer-events: all;
              position: relative;
              cursor: pointer;
              overflow: hidden;
              border-radius: 1vw;
              &>section {
                width: 100%;
                height: 100%;
                pointer-events: none;
                position: absolute;
                &>article {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                }
              }
              .img_over {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #FFF;
                z-index: 100;
                opacity: 1;
                pointer-events: none;
              }
              &>article:last-child {
                width: 95%;
                height: 95%;
                position: absolute;
                z-index: 1000;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                pointer-events: none;
                &>p {
                  font: { size: 3vw; weight: 700; }
                }
              }
            }
            .inner_box_1 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_2 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo2.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_3 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo3.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            .inner_box_4 {
              .inner_img {
                &>article {
                  background: {
                    image: url('../img/photo4.jpeg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
            &>div:last-child {
              width: 0.1vw;
              height: 100%;
              background-color: rgba(0,0,0,0.1);
            }
          }
          .card_1, .card_5 {
            top: -5vh;
            &>div:last-child {
              height: 100vh;
            }
          }
          .card_2, .card_6 {
            top: 11vh;
            &>div:last-child {
              height: 100vh;
            }
          }
          .card_3, .card_7 { 
            top: 0vh;
            &>div:last-child {
              height: 65vh;
            }
          }
          .card_4, .card_8 { 
            top: 6vh;
          }
        }
      }   // --------------------------- home_page
      .about_page{
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        .left_about {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          article {
            width: 33vw;
            height: 33vw;
            overflow: hidden;
            border-radius: 160% 135% 155% 135%/145% 165% 135% 155%;
            position: relative;
            -webkit-animation: rotate_img 10s infinite linear;
            animation: rotate_img 10s infinite linear;
            -webkit-filter: drop-shadow(0 0 2vw rgba(0,0,0,0.3));
            filter: drop-shadow(0 0 2vw rgba(0,0,0,0.3));
            div {
              position: absolute;
              top: -3.5vw;
              left: -3.5vw;
              opacity: 1;
              width: 40vw;
              height: 40vw;
              -webkit-animation: un_rotate_img 10s infinite linear;
              animation: un_rotate_img 10s infinite linear;
              background: {
                image: url('../img/photo.jpeg');
                repeat: no-repeat;
                size: cover;
                position: center 40%;
              };
            }
          }
        }
        .right_about {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          &>div {
            width: 20%;
            height: 0.1vw;
            background-color: #333;
            transform: scaleX(0);
            margin-top: 1.5vw;
            margin-bottom: 1.5vw;
          }
          &>section {
            width: 100%;
            overflow: hidden;
            p {
              width: 100%;
              color: #333;
              text-align: left;
              font: { 
                size: 2.7vw;
                weight: 500;
                family: 'Jua', sans-serif;
              }
              span {
                color: #F65;
                filter: drop-shadow(0.1vw 0.1vw 0 rgba(0,0,0,0.3));
                font: { 
                  size: 2.7vw;
                  weight: 500;
                  family: 'Jua', sans-serif;
                }
              }
            }
            &:nth-child(1) {
              p {
                transform: translateY(50vh);
              }
            }
            &:nth-child(3) {
              p {
                color: #666;
                font: { 
                  size: 2vw;
                  weight: 400;
                  family: 'Jua', sans-serif;
                }
                transform: translateY(-50vh);
              }
            }
          }
        }
        .sub_about {
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 0;
          bottom: 3vh;
          border-bottom: 0.15vw solid #333;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: flex-end;
          article {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            pointer-events: all;
            margin-bottom: 0.5vw;
            cursor: pointer;
            i, p {
              display: inline-block;
              color: #333;
              font: { size: 1.5vw; weight: 500; };
            }
            i {
              transition: all 0.2s;
              font-size: 2vw;
              margin-right: 1vw;
            }
            &:hover {
              i {
                transition: all 0.2s;
                color: #F65;
                filter: drop-shadow(0.3vw 0.3vw 0 rgba(0,0,0,0.3));
              }
            }
          }
        }
      }   // --------------------------- about_page
      .time_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .time_left {
          width: 20%;
          height: 100%;
          position: relative;
          article {
            background: #F65;
            position: absolute;
            top: 0;
            left: 0;
            &:nth-child(1) {
              width: 10vw;
              height: 0%;  // ###########
            }
            &:nth-child(2) {
              width: 20vw;
              height: 20vw;
              border-radius: 50%;
              top: calc(50% - 10vw);
              transform: translateX(-20vw); //##########
              &>div {
                position: absolute;
                top: 1vw;
                left: 1vw;
                width: 18vw;
                height: 18vw;
                border-radius: 50%;
                transform: scale(0);  //################
                background: {
                  image: url('../img/photo5.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                }
              }
            }
          }
        }
        .time_right {
          width: 80%;
          height: 100%;
          position: relative;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          .time_bar_area {
            margin-top: 5vh;
            width: 70vw;
            height: 60%;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            .center_line {
              position: absolute;
              z-index: -100;
              width: 0.5vw;
              height: 0%;  //################
              top: 0;
              left: calc(50% - 0.25vw);
              border-radius: 0.5vw;
              background: linear-gradient(to bottom, #F15A5A 0%, #F15A5A 20%, #F0C419 20%, #F0C419 40%, #4EBA6F 40%, #4EBA6F 60%, #2D95BF 60%, #2D95BF 80%, #955BA5 80%, #955BA5 100%);
            }
            .line_dot {
              position: absolute;
              z-index: -100;
              width: 0.5vw;
              height: 63%;
              top: 19%;
              left: calc(50% - 0.25vw);
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-between;
              align-items: center;
              div {
                width: 0.5vw;
                height: 0.5vw;
                border-radius: 50%;
                background: #FFF;
                border: 0.25vw solid;
                border-color: #F0C419;
                transform: scale(0); // ##################
                &:nth-child(2) {
                  border-color: #4EBA6F;
                }
                &:nth-child(3) {
                  border-color: #2D95BF;
                }
                &:nth-child(4) {
                  border-color: #955BA5;
                }
              }
            }
            .time_box_1, .time_box_3 {
              width: 50%;
              height: 20%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
              &>article:nth-child(1) {
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
                background-color: #F0C419;
                transform: scale(0); // ###########
                i {
                  width: 80%;
                  height: 80%;
                  margin-top: 10%;
                  margin-left: 10%;
                  border-radius: 50%;
                  background-color: #FFF;
                  color: #666;
                  text-align: center;
                  line-height: 6.4vw;
                  filter: drop-shadow(0.2vw 0.2vw 0.2vw rgba(0,0,0,0.3));
                  font: {
                    size: 4vw;
                    weight: 800;
                  }
                }
              }
              &>article:nth-child(2) {
                height: 100%;
                width: 27vw;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                overflow: hidden;
                &>p:nth-child(1) {
                  color: #F65;
                  transform: translateY(-150%);  // ###################
                  font: {
                    size: 2vw;
                    weight: 600;
                    family: 'Jua', sans-serif;
                  };
                }
                div {
                  width: 25vw;
                  height: 0vh;
                  border-bottom: 0.2vw dotted #333;
                  transform: translateX(110%); //################
                }
                &>p:nth-child(n+3) {
                  color: #333;
                  margin-bottom: 0.5vw;
                  transform: translateY(150%);  // ###############
                  font: {
                    size: 1.5vw;
                    weight: 500;
                    family: 'Jua', sans-serif;
                  }
                }
              }
            }
            .time_box_2, .time_box_4 {
              width: 50%;
              height: 20%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
              margin-left: 50%;
              &>article:nth-child(2) {
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
                background-color: #2D95BF;
                transform: scale(0); // ###########
                i {
                  width: 80%;
                  height: 80%;
                  margin-top: 10%;
                  margin-left: 10%;
                  border-radius: 50%;
                  background-color: #FFF;
                  color: #666;
                  text-align: center;
                  line-height: 6.4vw;
                  filter: drop-shadow(0.2vw 0.2vw 0.2vw rgba(0,0,0,0.3));
                  font: {
                    size: 4vw;
                    weight: 800;
                  }
                }
              }
              &>article:nth-child(1) {
                height: 100%;
                width: 27vw;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                overflow: hidden;
                &>p:nth-child(1) {
                  color: #F65;
                  transform: translateY(-150%);  // ###############
                  font: {
                    size: 2vw;
                    weight: 600;
                    family: 'Jua', sans-serif;
                  };
                }
                div {
                  width: 25vw;
                  height: 0vh;
                  border-bottom: 0.2vw dotted #333;
                  transform: translateX(-110%); //################
                }
                &>p:nth-child(n+3) {
                  color: #333;
                  margin-bottom: 0.5vw;
                  transform: translateY(150%);  // ###############
                  font: {
                    size: 1.5vw;
                    weight: 500;
                    family: 'Jua', sans-serif;
                  }
                }
              }
            }
            .time_box_3 {
              &>article:nth-child(1) {
                background-color: #4EBA6F;
              }
            }
            .time_box_4 {
              &>article:nth-child(2) {
                background-color: #955BA5;
              }
            }
          }
          .license_area {
            margin-left: -20vw;
            width: 30vw;
            height: 30%;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            &>article {
              position: absolute;
              z-index: 100;
              top: -2vh;
              left: 0;
              width: 10vw;
              height: 4vw;
              border-radius: 0.5vw;
              border: 0.3vw solid #F65;
              background-color: #FFF;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              transform: scale(0);  // ############
              p {
                text-align: center;
                color: #F65;
                font: {
                  size: 2vw;
                  weight: 600;
                  family: 'Jua', sans-serif;
                }
              }
            }
            &>ul {
              width: 60%;
              height: 80%;
              border-radius: 1vw;
              border: 0.3vw solid #333;
              background-color: #FFF;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: flex-start;
              transform: scale(0);  // ############
              li {
                margin-left: 3vw;
                list-style: circle;
                color: #333;
                font: {
                  size: 1.5vw;
                  weight: 500;
                  family: 'Jua', sans-serif;
                }
                &:nth-child(2) {
                  margin-top: 0.5vw;
                  margin-bottom: 0.5vw;
                }
              }
            }
          }
        }
      }   // ---------------------------- time_page
      .skill_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;   
        position: relative;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        &>section {
          overflow: hidden;
          transform: translateY(-100vh);
          &:nth-child(2) {
            transform: translateY(100vh);
          }
          &>p {
            transform: translateX(-30vw);
          }
          &>section {
            &>article {
              transform: scale(0);
              &>article {
                transform: scale(0);
              }
            }
          }
        }
        .front_skill {
          width: 20%;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          background-color: #F65;
          align-items: center;
          // border-right: 0.1vw solid #F65;
          // border-left: 0.1vw solid #F65;
          order: 1;
          &>p {
            color: #FFF;
            font: {
              size: 3vw;
              weight: 600;
            }
          }
          &>section {
            width: 90%;
            height: 80%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            &>article {
              width: 7vw;
              height: 7vw;
              position: relative;
              border-radius: 50%;
              box-shadow: 0 0 0.3vw #FFF, inset 0 0 2vw #FFF;
              &>article {
                position: absolute;
                top: calc(50% - 3vw);
                left: calc(50% - 3vw);
                width: 6vw;
                height: 6vw;
                pointer-events: all;
                // -webkit-filter: grayscale(100%);
                // filter: grayscale(100%);
                cursor: pointer;
              }
              .icon_1{
                background: {
                  image: url('../img/html5-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_2{
                background: {
                  image: url('../img/css3-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_3{
                background: {
                  image: url('../img/js-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_4{
                background: {
                  image: url('../img/pug-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_5{
                background: {
                  image: url('../img/sass-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_6{
                background: {
                  image: url('../img/jquery-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_7{
                background: {
                  image: url('../img/ts_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
            }
          }
        }
        .back_skill {
          width: 20%;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          // border-right: 0.1vw solid #F65;
          // border-left: 0.1vw solid #F65;
          order: 3;
          &>p {
            color: #F65;
            font: {
              size: 3vw;
              weight: 600;
            }
          }
          &>section {
            width: 90%;
            height: 80%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            &>article {
              width: 7vw;
              height: 7vw;
              position: relative;
              border-radius: 50%;
              box-shadow: 0 0 0.3vw #F65, inset 0 0 2vw #F65;
              &>article {
                position: absolute;
                top: calc(50% - 3vw);
                left: calc(50% - 3vw);
                width: 6vw;
                height: 6vw;
                pointer-events: all;
                // -webkit-filter: grayscale(100%);
                // filter: grayscale(100%);
                cursor: pointer;
              }
              .icon_1{
                background: {
                  image: url('../img/java-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_2{
                background: {
                  image: url('../img/python-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_3{
                background: {
                  image: url('../img/nodejs-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_4{
                background: {
                  image: url('../img/mysql-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_5{
                background: {
                  image: url('../img/json_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_6{
                background: {
                  image: url('../img/ajax_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
            }
          }
        }
        .etc_skill {
          width: 20%;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          background-color: #F65;
          // border-right: 0.1vw solid #F65;
          // border-left: 0.1vw solid #F65;
          order: 5;
          &>p {
            color: #FFF;
            font: {
              size: 3vw;
              weight: 600;
            }
          }
          &>section {
            width: 90%;
            height: 80%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            &>article {
              width: 7vw;
              height: 7vw;
              position: relative;
              border-radius: 50%;
              box-shadow: 0 0 0.3vw #FFF, inset 0 0 2vw #FFF;
              &>article {
                position: absolute;
                top: calc(50% - 3vw);
                left: calc(50% - 3vw);
                width: 6vw;
                height: 6vw;
                pointer-events: all;
                // -webkit-filter: grayscale(100%);
                // filter: grayscale(100%);
                cursor: pointer;
              }
              .icon_1{
                background: {
                  image: url('../img/kotlin-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_2{
                background: {
                  image: url('../img/photoshop-icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_3{
                background: {
                  image: url('../img/git_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_4{
                background: {
                  image: url('../img/github_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_5{
                background: {
                  image: url('../img/vim_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
              .icon_6{
                background: {
                  image: url('../img/vscode_icon.png');
                  repeat: no-repeat;
                  size: contain;
                  position: center center;
                };
              }
            }
          }
        }
        .view_skill {
          width: 0%;
          height: 100%;
          -webkit-transform: scale(0);
          transform: scale(0);
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          .skill_back {
            opacity: 0.1;
            width: 100%;
            height: 100%;  
            position: absolute;
            z-index: -100;
            background: {
              repeat: no-repeat;
              size: contain;
              position: center center;
            };
          }
          .skill_detail {
            width: 80%;
            height: 80%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            opacity: 1;
            p {
              color: #333;
              text-align: left;
              margin-bottom: 0.5vw;
              font: {
                size: 1.8vw;
                weight: 600;
                family: 'Jua', sans-serif;
              }
              &:nth-child(1) {
                margin-bottom: 1vw;
                color: #F65;
                text-align: left;
                filter: drop-shadow(0.2vw 0.2vw 0 rgba(0,0,0,0.3));
                font: {
                  size: 3vw;
                  weight: 700;
                  family: 'Jua', sans-serif;
                }
              }
            }
          }
        }
      }   // ---------------------------- skill_page
      .project_page {
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        position: relative;
        .main_project {
          width: 80vw;
          height: 80vw;
          position: absolute;
          z-index: -1;
          bottom: -45vw;
          left: 10vw;
          transform-origin: center center;
          transform: rotate(0);
          &>section {
            width: 100%;
            height: 100%;
            position: relative;
            &>article {
              width: 15vw;
              height: 20vw;
              pointer-events: all;
              -webkit-perspective: 100vw;
              perspective: 100vw;
              position: absolute;
              transform-origin: bottom center;
              filter: drop-shadow(0.2vw 0.2vw 0.2vw rgba(0,0,0,0.3));
              &:nth-child(1) {
                transform: rotate(-45deg);
                top: 6vw;
                left: 18.5vw;
              }
              &:nth-child(2) {
                transform: rotate(0deg);
                top: 0vw;
                left: 32.5vw;
              }
              &:nth-child(3) {
                transform: rotate(45deg);
                top: 6vw;
                left: 46.5vw;
              }
              &:nth-child(4) {
                transform: rotate(90deg);
                top: 20vw;
                left: 52.5vw;
              }
              &:nth-child(5) {
                transform: rotate(135deg);
                top: 34vw;
                left: 46.5vw;
              }
              &:nth-child(6) {
                transform: rotate(180deg);
                top: 40vw;
                left: 32.5vw;
              }
              &:nth-child(7) {
                transform: rotate(225deg);
                top: 34vw;
                left: 18.5vw;
              }
              &:nth-child(8) {
                transform: rotate(270deg);
                top: 20vw;
                left: 12.5vw;
              }
              &>div {
                width: 100%;
                height: 100%;
                border-radius: 0.5vw;
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 1s;
                transition: all 1s;
                pointer-events: none;
                position: absolute;
                cursor: auto;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                &:nth-child(1) {
                  -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: center;
                  align-items: center;
                  z-index: -10;
                }
                &:nth-child(2){
                  -webkit-transform: rotateY(0deg);
                  transform: rotateY(0deg);
                  background-color: #F65;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  align-items: center;
                  z-index: 10;
                  p {
                    color: #FFF;
                    font: { size: 4vh; weight: 600; }
                  }
                }
              }
              .item_back_1 {
                background: {
                  image: url('../img/matrix_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_2 {
                background: {
                  image: url('../img/tetris_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_3 {
                background: {
                  image: url('../img/cloud_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_4 {
                background: {
                  image: url('../img/hanoi_img.gif');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_5 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_6 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_7 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              .item_back_8 {
                background: {
                  image: url('../img/working-img.jpg');
                  repeat: no-repeat;
                  size: cover;
                  position: center center;
                };
              }
              &:hover {
                cursor: pointer;
                &>div:nth-child(1) {
                  -webkit-transform: rotateY(360deg) scale(1.3);
                  transform: rotateY(360deg) scale(1.3);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: 100;
                }
                &>div:nth-child(2) {
                  -webkit-transform: rotateY(180deg) scale(1.3);
                  transform: rotateY(180deg) scale(1.3);
                  -webkit-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: -100;
                }
                z-index: 100;
              }
            }
          }
          .project_list_1>article:nth-child(n+5)>div:nth-child(2) {
            background-color: #AAA;
          }
        }   // ------------------------------- main_project
        &>section:nth-child(2) {
          width: 100%;
          height: 30%;
          position: absolute;
          left: 0;
          bottom: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          p {
            color: rgba(0,0,0,0.3);
            margin-bottom: 1.5vw;
            font: {
              size: 3vw;
              weight: 600;
            }
          }
          i {
            color: rgba(0,0,0,0.3);
            animation: project_arrow 1s infinite;
            font: {
              size: 4vw;
              weight: 500;
            }
          }
        }
        .detail_project {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 200;
          top: 100%;
          left: 0%;
          -webkit-transform: scale(0);
          transform: scale(0);
          pointer-events: all;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          .project_popup {
            width: 80%;
            height: 80%;
            border-radius: 1vw;
            position: relative;
            -webkit-filter: drop-shadow(1vw 1vw 2vw rgba(0,0,0,0.3));
            filter: drop-shadow(1vw 1vw 2vw rgba(0,0,0,0.3));
            .popup_over {
              border-radius: 1vw;
              width: 100%;
              height: 100%;
              position: absolute;
              background: radial-gradient(at 0% 40%, transparent 0%, #FFFFFFBB 40%, #FFFFFFEE 45%, #FFF 55%, #FFF 100%);
            }
            .left_pop {
              width: 50%;
              height: 90%;
              position: absolute;
              z-index: 500;
              top: 0;
              left: 0;
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-end;
              align-items: center;
              article {
                width: 60%;
                height: 30%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                button {
                  background: transparent;
                  color: #F65;
                  font: { size: 3vw; weight: 800; }
                  pointer-events: all;
                  -webkit-transition: all 0.3s;
                  transition: all 0.3s;
                  cursor: pointer;
                  &:hover {
                    transform: translate(-1vh, -1vh);
                    -webkit-filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
                    filter: drop-shadow(0.5vh 0.5vh 0 rgba(0,0,0,0.3));
                    transition: all 0.5s;
                  }
                }
              }
            }
            .right_pop {
              width: 50%;
              height: 100%;
              position: absolute;
              z-index: 500;
              top: 0%;
              left: 50%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-around;
              align-items: center;
              .rt_pop {
                width: 80%;
                height: 40%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                p {
                  text-align: left;
                  color: #333;
                  font: {
                    size: 2vw;
                    weight: 500;
                    family: 'Jua', sans-serif;
                  }
                  &:first-child {
                    color: #F65;
                    margin-bottom: 1vw;
                    font: {
                      size: 2.5vw;
                      weight: 700;
                      family: 'Jua', sans-serif;
                    }
                    -webkit-filter: drop-shadow(0.3vh 0.3vh 0 rgba(0,0,0,0.4));
                    filter: drop-shadow(0.3vh 0.3vh 0 rgba(0,0,0,0.4));
                  }
                }
              }
              &>div {
                width: 80%;
                height: 0.1vh;
                background: #F65;
              }
              &>p {
                width: 80%;
                // height: 15%;
                color: #333;
                text-align: center;
                font: { 
                  size: 2vw;
                  weight: 700;
                  family: 'Jua', sans-serif;
                }
              }
              .rb_pop {
                width: 80%;
                height: 40%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: flex-start;
                article {
                  width: 20%;
                  height: 40%;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: space-around;
                  align-items: flex-start;
                  div {
                    width: 100%;
                    height: 50%;
                  }
                  p {
                    width: 100%;
                    text-align: center;
                    line-height: 3vw;
                    color: #333;
                    font: { size: 1vw; weight: 500; }
                  }
                }
              }
              &>i {
                position: absolute;
                top: 5vh;
                right: 5vh;
                color: #F65;
                font: { size: 3vw; weight: 500; }
                pointer-events: all;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                  transition: all 0.5s;
                  color: #FA1;
                }
              }
            }
          }
        }   // ------------------------------- detail_project
      }   // -------------------------- project_page
      .loading_page {
        width: 100%;
        height: 100%;
        background-color: #F65;
        position: relative;
        pointer-events: none;
        z-index: 99999;
        .loading_box {
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: #FFF;
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }   // --------------------------- loading_page
    }   // --------------------------- main
  }   // --------------------------- body
}   // ---------------------------- html
